:root {
  --cor-orange: #ff6c0a;
  --cor-purple: #322a85;
  --cor-purple-ligth: #58519b;
}
section {
  height: 100%;
}
/* SECTION LOGO */
#logo {
  margin: 0;
  padding: 0;
}

.logo-layout {
  display: flex;
  width: 100%;
  background-color: var(--cor-purple);
  justify-content: center;
}
.logo-layout img {
  width: 70%;
  padding: 0.5rem;
}
/* FIM SECTION LOGO */

/* SECTION PROPAGANDA */


/* SECTION PROPAGANDA */




/* SECTION FORMULARIO */
.form-container {
  width: 100%;
  height: 100%;
}
/* Imagem Form */
.form-imagem {
  width: 100%;
  background-image: url("../img/landingpage/happy-couple.png");
  background-size: cover;
  background-position: 58% 0%;
  background-repeat: no-repeat;
  height: 100vh;
}

.form-ajuste-img {
  display: flex;
  padding: 3%;
  padding-top: 5%;
  width: 100%;
  height: 100%;
}

.form-img-txt {
  color: #111;
  margin-top: 0;
}

.form-img-txt span .form-img-txt-big {
  font-size: 2em;
  font-weight: 900;
  line-height: 1em;
  text-transform: uppercase;
  color: var(--cor-purple);
}

.form-img-txt p {
  font-size: 0.9em;
  margin-top: 2%;
  font-weight: 400;
  width: 65%;
}

/* Formulario */

.form-layout {
  padding-block: 5%;
  padding-inline: 5%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  align-items: center;
  justify-content: center;
}
.form-group {
  position: relative;
  margin-block: 0.5rem;
}

/* Icons */
.form-group i {
  position: absolute;
  top: 2.2em;
  right: 1.5em;
}

.form-group .fa-check {
  color: limegreen;
  display: none;
}
.form-group .fa-xmark {
  color: red;
  display: none;
}

input::-webkit-calendar-picker-indicator {
  margin-top: -0.2em;
  opacity: 100;
}

/* input e select */

.form-group input,
.form-group select {
  font-weight: 200;
  border-radius: 1rem;
  border: rgba(0, 0, 0, 0.5) solid 0.15rem;
  width: 100%;
  padding-block: 0.25rem;
  padding-inline: 1rem;
  background: none;
  color: white;
}

.form-group input:focus,
.form-group select:focus {
  outline: none !important;
  border: rgb(206, 206, 206) 0.15rem solid;
}

.form-group select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, var(--cor-purple), var(--cor-purple));
  background-position: calc(100% - 20px) 0.9em, calc(100% - 15px) 0.9em, 100%;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  z-index: 100;
}

.form-group select option {
  font-weight: 200;
  background-color: var(--cor-purple);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url("../img/landingpage/calendario-ico.svg");
  background-size: 100%;
  cursor: pointer;
}

.form-group label {
  font-size: 0.8rem;
  font-weight: 400;
}

.form-estado-cidade {
  margin-block: -0.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
}
.cidade {
  width: 70%;
}

.form-group #form-cidade {
  min-width: 100%;
}

select:-webkit-autofill,
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px var(--cor-purple-ligth) inset; /* Change the color to your own background color */
  -webkit-text-fill-color: white;
}

/* btn form */
.form-group button {
  position: relative;
  letter-spacing: 0.2rem;
  border-radius: 2rem;
  width: 100%;
  padding-block: 0.5rem;
  margin-block: 4%;
  font-weight: 700;
  background: none;
  text-shadow: 0 0 0.25rem rgba(255, 255, 255, 0.5);
  color: white;
  border: 0.3rem var(--cor-orange) solid;
  box-shadow: 0 0 0.5rem var(--cor-orange);
  transition: all 0.5s ease-in-out;
}
.form-group button:hover {
  box-shadow: 0 0 1.5rem var(--cor-orange);
}

.form-group button::after {
  content: "";
  border-radius: 2rem;
  position: absolute;
  left: -2px;
  top: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: var(--cor-orange);
  transition: transform 0.8s;
  transform-origin: 1 1;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
  z-index: -1;
}

.form-group button:hover::after {
  transform: scaleX(1);
}
/* FIM SECTION FORMULARIO */

/* DIALOG MODAL */

dialog {
  width: 90%;
  padding: 10%;
  border-radius: 1rem;
  border: none;
  text-align: center;
  background-color: var(--cor-purple);
  color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

dialog::backdrop {
  background-color: rgba(26, 1, 46, 0.5);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.37);
  border-radius: 1.5em;
  margin-inline: 0 auto;
}

.dialog {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.dialogbtn {
  width: 40%;
  height: 2.5rem;
  border-radius: 2.5rem;
  border: 0.2rem var(--cor-orange) solid;
  background: transparent;
  color: white;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}

.dialogbtn:hover {
  background-color: var(--cor-orange);
}

/* @mediaQueries */
/* 720px W */
@media (min-width: 720px) {
  /* LAYOUT TOP LOGO */
  .logo-layout img {
    width: 30%;
    margin-top: 0.5rem;
  }
  /* FIM LAYOUT TOP LOGO */
}
/* 1200px W */

@media (min-width: 1200px) {
  
  /* LAYOUT TOP LOGO */
  .logo-layout img {
    width: 15%;
  }
  /* FIM LAYOUT TOP LOGO */
  /* SECTION FORMULARIO */
  #form{
    margin-top: 1%;
    padding-inline: 5%;
  }
  /* Imagem e text */
  .form-container {
    display: flex;
    flex-flow: row nowrap;
    box-shadow: 0px 20px 10px -15px #111;
  }
  .form-imagem {
    background-position: 50% 0%;
    height: auto;
  }
  .form-img-txt {
    width: 65%;
  }

  .form-img-txt span {
    font-size: 1.3em;
  }

  .form-img-txt span .form-img-txt-big {
    font-size: 2.5em;
    font-weight: 900;
    line-height: 1em;
    text-transform: uppercase;
    color: var(--cor-purple);
  }

  .form-img-txt p {
    font-size: 1em;
    width: 90%;
  }

  /* formulario*/
  .form-layout {
    padding-block: 0;
    width: 45%;
  }
  /* FIM SECTION FORMULARIO */

  /* DIALOG */
  dialog {
    width: 50%;
    padding: 2%;
  }
}

@media (min-width:1800px) {
  .form-img-txt {
    width: 40%;
  }
}
