:root {
    --cor-orange: #ff6c0a;
    --cor-purple: #322a85;
  }
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    font-size: 1em;
    background: var(--cor-purple);
    color: white;
    margin: 0;
    padding: 0;
}

.container, .main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h3 {
    margin-top: 5%;
    text-align: center;
    font-weight: 700;
}